.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}
.qw{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.one{
  max-width: 100%;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  /* background-color: green; */
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.my-div {
 background-color: aqua;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.goog-te-banner-frame{
  display: none;
  margin-top: -100%;
}
.goog-te-combo{
  color: #333;
}
.goog-te-gadget{
  color: transparent !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd{
  display: none;
}